body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.header
{
  display: block;
  text-align: center;
  background-color: lightgrey;

}
#navheader
{
  text-align: center;
  background-color: #1f1f1f;
  width: 100%;
  margin-bottom: 3%;
  color: #c9c9c9;
}

#footer
{
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #1f1f1f;
  width: 100%;
  color: #c9c9c9;
}

#links
{
  text-align: left !important;
  border-left: white solid 1px;
}

 a:visited,
 a:active,
 a:link,
 a
{
  color: #c9c9c9 !important;
  text-decoration: none;
}

a:hover
{
  color: white;
}
.game-Board
{
  height: 300px;
}
.game-info {
  margin-left: 20px;
}
button
{
  width: 100%;
  margin: -10px;
}
